In [34]:
import pandas as pd
import csv

In [35]:
# Load Excel file
df = pd.read_excel('S6_Semen_NewComps.xlsx')

In [36]:
df.head()

,Alignment ID,Average Rt(min),Average Mz,Metabolite name,Adduct type,Post curation result,Fill %,MS/MS assigned,Reference RT,Reference m/z,...,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123
0,6206,9.380,351.21759,"6,10a-dihydroxy-4-(hydroxymethyl)-4,7,11b-trim...",[M+H]+,ion correlated with 5630; adduct linked to 673...,0.222,True,NaN,351.21658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6209,4.936,351.21768,"6,10a-dihydroxy-4-(hydroxymethyl)-4,7,11b-trim...",[M+H]+,ion correlated with 5632; ion correlated with ...,0.167,True,NaN,351.21658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6211,7.725,351.21780,"6,10a-dihydroxy-4-(hydroxymethyl)-4,7,11b-trim...",[M+H]+,adduct linked to 6941_[M+Na]+,0.167,True,NaN,351.21658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5630,9.330,333.20709,"5-[2-(furan-3-yl)ethyl]-8-hydroxy-5,6,8a-trime...",[M+H]+,ion correlated with 5101; ion correlated with ...,0.278,True,NaN,333.20602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5632,4.936,333.20715,"5-[2-(furan-3-yl)ethyl]-8-hydroxy-5,6,8a-trime...",[M+H]+,ion correlated with 6209; ion correlated with ...,0.167,True,NaN,333.20602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
new_df = pd.DataFrame()

In [38]:
for i, row in enumerate(df['MS/MS spectrum']):
    temp_data = []
    for item in row.split():
        num1, num2 = item.split(':')
        temp_data.append([num1, num2])

    temp_df = pd.DataFrame(temp_data, columns=[f'Mass_{i+1}', f'Intensity_{i+1}'])

    if new_df.empty:
        new_df = temp_df
    else:
        new_df = pd.concat([new_df.reset_index(drop=True), temp_df.reset_index(drop=True)], axis=1)

In [39]:
new_df.to_csv('Mass+Intensity.csv', index=False)